# üíâ Hospital Management System ‚Äì Task 2
### SQL Developer Internship | Data Insertion and Null Handling

## üìå Objective:
Practice inserting, updating, and deleting data while handling NULL values.

In [1]:
-- Create tables
CREATE TABLE Patients (
    patient_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    gender TEXT,
    address TEXT DEFAULT 'Not Provided'
);

CREATE TABLE Doctors (
    doctor_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    specialty TEXT
);

CREATE TABLE Appointments (
    appointment_id INTEGER PRIMARY KEY,
    patient_id INTEGER,
    doctor_id INTEGER,
    appointment_date TEXT,
    notes TEXT DEFAULT NULL,
    FOREIGN KEY(patient_id) REFERENCES Patients(patient_id) ON DELETE CASCADE,
    FOREIGN KEY(doctor_id) REFERENCES Doctors(doctor_id) ON DELETE CASCADE
);

SyntaxError: invalid syntax (2613708532.py, line 1)

## üöÄ Data Insertion:

In [ ]:
-- Insert into Patients
INSERT INTO Patients (patient_id, name, age, gender) VALUES (1, 'John Doe', 45, 'Male');
INSERT INTO Patients (patient_id, name, age, gender, address) VALUES (2, 'Jane Smith', 30, 'Female', '123 Main St');
INSERT INTO Patients (patient_id, name, age, gender) VALUES (3, 'Alice', 25, 'Female');

-- Insert into Doctors
INSERT INTO Doctors (doctor_id, name, specialty) VALUES (1, 'Dr. Adams', 'Cardiology');
INSERT INTO Doctors (doctor_id, name, specialty) VALUES (2, 'Dr. Brown', 'Neurology');

-- Insert into Appointments
INSERT INTO Appointments (appointment_id, patient_id, doctor_id, appointment_date)
VALUES (1, 1, 1, '2025-08-01');
INSERT INTO Appointments (appointment_id, patient_id, doctor_id, appointment_date, notes)
VALUES (2, 2, 2, '2025-08-03', 'Follow-up visit');
INSERT INTO Appointments (appointment_id, patient_id, doctor_id, appointment_date)
VALUES (3, 3, 1, '2025-08-05');

## üîÅ Update Data:

In [ ]:
-- Update patient address
UPDATE Patients SET address = '456 Lake View' WHERE patient_id = 1;
-- Update appointment note
UPDATE Appointments SET notes = 'Bring medical reports' WHERE appointment_id = 3;

## ‚ùå Delete Data:

In [ ]:
-- Delete a patient (will cascade delete appointments)
DELETE FROM Patients WHERE patient_id = 1;

## ‚úÖ NULL and DEFAULT Handling:
- Use `NULL` to represent missing or unknown values.
- Use `DEFAULT` to auto-fill columns when no value is provided.
- `IS NULL` can be used to filter or identify such values.
- `ON DELETE CASCADE` deletes related child rows.